/ejercicio#1/Ejercicio1/nbproject/private/
/ejercicio#1/Ejercicio1/build/
/ejercicio#2/Ejercicio2/nbproject/private/
/ejercicio#3/Ejercicio3/nbproject/private/
/ejercicio#4/Ejercicio4/nbproject/private/
/ejercicio#5/Ejercicio5/nbproject/private/
/ejercicio#6/Ejercicio6/nbproject/private/
/ejercicio#3/build/